@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/*ESTILIZAÇÃO BASE*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;

  scroll-behavior: smooth;
}
:target {
  scroll-margin-top: 79px;
}

h1 {
  font-size: 3.4rem;
}
h2 {
  padding-bottom: 4%;

  font-size: 3.0rem;
  text-align: center;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 1.8rem;
}
img {
  max-width: 100%;
}

body {
  font-size: 1.8rem;
}
.section-title {
  text-transform: uppercase;
}

/*NAV*/
#navbar {
  position: fixed;
  width: 100%;
  padding: 0%;
  z-index: 1;

  background-color: #111111e0;
}
#navbar-container {
  width: 100%;
}
#navbar-principal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar-principal input {
  display: none;
}
#navbar-principal label {
  display: none;
  position: absolute;
  height: 100%;
  padding: 5%;
  right: 0;

  cursor: pointer;
}
#logo {
  margin: 2% 0% 2% 0%;

  color: #eee;
}
#sanduiche-closed {
  object-fit: contain;
  height: 100%;
}
:has(#navbar-principal input:checked) #sanduiche-closed {
  display: none;
}

#sanduiche-open {
  display: none;
  object-fit: contain;
  height: 100%;
}
:has(#navbar-principal input:checked) #sanduiche-open {
  display: block;
}

:has(#navbar-principal input:checked) .navbar-items:not(#navbar-principal .navbar-items) {
  display: block;
}
.navbar-items {
  position: absolute;
  right: 0;
  display: flex;
  padding: 0 10% 0 3%;
}
.navbar-items:not(#navbar-principal .navbar-items) {
  display: none !important;
}
.navbar-items li {
  padding: 5%;
  transition: 250ms;

  text-align: center;
  list-style: none;
  text-transform: uppercase;
}
.navbar-items li:not(#navbar-principal>.navbar-items li) {
  border: solid #333;
  border-width: 1px 0 0px 0;
}
.navbar-items li:hover {
  background-color: #222222c1;
}

.navbar-items li a {
  display: block;
  width: 100%;
  height: 100%;

  text-decoration: none;
  color: #eee;
}

/*HEADER*/
#banner {
  height: 100vh;

  background-image: url(../img/showcase.jpg);
  background-size: cover;
  background-position: center;
  color: #eee;
}
#banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 8%;

  text-align: center;
  backdrop-filter: brightness(50%);
}
#banner-container h2 {
  padding-bottom: 2% !important;

  line-height: 120%;
}
#banner-container p {
  padding: 0% 10% 4% 10%;
}
#banner-container a {
  padding: 2% 5% 2% 5%;
  transition: 250ms;

  text-decoration: none;
  text-transform: uppercase;
  color: #eee;
  background-color: #111;
}
#banner-container a:hover {
  background-color: #010101;
}

/*MAIN*/
/*NOSSOS CLIENTES*/
#clientes {
  width: 100%;
  text-align: center;
  padding: 4%;

  background-color: #ffffff;
}
#clientes h2 {
  text-transform: uppercase;
}
#clientes-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0%;
  gap: 5%;
}
#clientes-container img {
  width: 40%;
}

/*O QUE FAZEMOS*/
#oque-fazemos {
  padding: 4%;

  background-color: #222;
  color: #eee;
}
#oque-fazemos-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.oque-fazemos-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
  border-radius: 3%;

  background-color: #333;
}
.oque-fazemos-item img {
  max-height: 48px;
}
.oque-fazemos-item h3 {
  padding-top: 2%;
}
.oque-fazemos-item p {
  padding-top: 2%;
  font-size: 1.6rem;
}

/*Nosso Produto*/
#produto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 4% 15%;
}
#produto-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#produtos-items-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.produto-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1%;
  gap: 20px;
}
.produto-item img {
  max-width: 40px;
}

/*Avaliações*/
#avaliacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3% 12%;

  background-color: #222;
  color: #eee;
}
#avaliacoes-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.avaliacoes-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 4%;

  background-color: #333;
  border-radius: 1vw;
}
.avaliacoes-item img {
  max-width: 200px;

  border-radius: 100vw;
}
.avaliacoes-item p {
  padding-left: 3%;
}

/*Galeria*/
#galeria {
  padding: 4%;
}
#galeria-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  width: 100%;
  gap: 30px;
}
#galeria-container img {
  border-radius: 1vw;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;

  background-color: #222;
  color: #eee;
  text-align: center;
}